body {
  width: 100vw;
}

main, header, aside, section, article, div, footer {
  display: block;
  width: 100%;
}

header, aside, section article, div, footer {
  background-color: #d8d8d8;
}

header {
  height: 75px;
  line-height: 75px;
  border: 1px solid black;
  background-color: rgb(0, 255, 149);
}

aside {
  height: 150px;
  line-height: 150px;
  border: 1px solid black;
  background-color: rgb(255, 0, 0);
}

section article {
  height: 125px;
  line-height: 125px;
  border: 1px solid black;
}

div div div {
  height: 250px;
  line-height: 250px;
  border: 1px solid black;
}

footer {
  clear: both;
  width: 100%;
  height: 80px;
  line-height: 80px;
  border: 1px solid black;
  background-color: rgb(255, 238, 0);
}

#ef{
  display: flex;
  direction: row;
}
#gh{
display: flex;
direction: row;
}

/* Refactor for Color requirement */
article:first-of-type {
  background-color: rgb(51, 255, 0);
}

article:last-of-type {
  background-color: rgb(0, 13, 255);
}

main div:nth-child(1) {
  background-color: rgb(255, 0, 119);
}

main div:nth-child(2) {
  background-color: rgb(132, 0, 255);
}

main div:nth-child(3) {
  background-color: rgb(255, 157, 0);
}

main div:nth-child(4) {
  background-color: rgb(0, 153, 255);
}