body {
  width: 100vw;
}

main, header, aside, section, article, div, footer {
  display: block;
  box-sizing: border-box;
  border: 1px solid black;
  width: 100%;
}

header {
  height: 75px;
  line-height: 75px;
  box-sizing: border-box;
  border: 1px solid black;
}
